@font-face { font-family: petscop; src: url('./fonts/vcr.ttf'); } 

body
{
    font-family: petscop;
    font-size: large;
	justify-content: center;
	align-items: center;
    background-size: fill;
    background-color: #000;
    color:white
}


.container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 100%;
    width:650px;
    grid-gap: 0px;
}

.side
{
    max-width: 300px;
    width: 100%;
}

.side2
{
    align-items: center;
    max-width: 350px;
    width:100%;
}
.main
{
    max-width:900px;
    width:100%;
}

img.icon
{
    max-width:50%;
    width:256px;
}

a, a.hover, a.visited
{
    color:#facade;
}
