@font-face { font-family: vcr; src: url('./fonts/vcr.ttf'); } 

body
{
    font-family: vcr;
    font-size: large;
	justify-content: center;
	align-items: center;
    background-size: fill;
    background-color: #1e1e2e;
    color:#cdd6f4
}


.container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 100%;
    width:650px;
    grid-gap: 0px;
    margin: auto;
}

.side
{
    max-width: 100%;
    width: 300px;
}

.side2
{
    align-items: center;
    max-width: 350px;
    width:100%;
}

.main
{
    max-width:100%;
    width:650px;
    margin: auto;
}

.content
{
    background-color:#313244;
    margin: auto;
    border:1px solid #313244
}

img.icon
{
    max-width:50%;
    width:256px;
}

a, a.hover, a.visited, h1, h2
{
    color:#cba6f7;
}

.subtextthing
{
    color:#a6adc8
}