@font-face { font-family: petscop; src: url('../fonts/PetscopWide.ttf'); } 

body
{
    font-family: petscop;
    font-size: large;
    display: flex;
	justify-content: center;
	align-items: center;
}


.container
{
    max-width: 100%;
    width:650px;
    background-color:#69b00b;
}

.side
{
    max-width: 300px;

}